/*-----header-----*/
#main-header {
    height: 400px;
}

#about-site {
    color: grey;
}

#site-anchor{
    font-size: 28px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

#site-anchor:hover{
    color: orange;
}

/*-----main-----*/
h1 {
    font-size: 40px;
    color: darkslategrey;
    font-family: sans-serif;
}

#blog-content {
    width: 1000px;
}

.h-style {
    color: darkslategrey;
}
