*{
	font-family: sans-serif;
}

/*Body Header*/

#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 1.2rem;
}

/*Horizontal Lists*/


.horizontal-list{
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.horizontal-list li{
	font-size: 0.9rem;
	font-weight: 100;
	margin: 0px 8px 8px 0px;
	display: inline-block;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

#navigation .horizontal-list li a{
	transition: color 0.5s, border-bottom 4s;
}

#navigation .horizontal-list li a:hover{
	color: lightgrey;
	border-bottom: solid 1px black;
}

.text-center{
	text-align: center;
}

/*Name and Social Icons*/

#name-social-container{
	margin-top: 20vh; 
}

#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.social-icons li a i{ 
	padding: 8px;
	font-size: 1rem;
	border-radius: 50%;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

body{
	margin: 0;
}

#about{
	height: auto;
	width: 100%;
	position: relative;
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: solid 3px white;
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

#about p{
	color: grey;
	margin: auto;
	width: 70%;
	margin-top: 5vh;
	line-height: 1.75;
	font-size: 18px;
}

#about p span{
	font-weight: bolder;
	color: #2857a4;
}

section{
	padding-bottom: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(even){
	background-color: #e9e9e9;
}

section:nth-of-type(odd){
	background-color: white;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/*Skills Section*/

.skills-display{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skill-progress{
	margin: 2rem;
	box-shadow: 4px 4px 6px 4px rgba(194, 194, 194, 0.3);
	border-radius: 0.8rem;
	width: 7rem;
	height: 1.4rem;
	background-color: #8080806b;
}

.skill-progress div{
	border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    height: 100%;
}

.skill-name{
	font-weight: bold;
	color: white;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
}

#cpp{
	width: 85%;
	background-color: #2857a4;
}

#html{
	background-color: #ff5800;
    width: 90%;
}

#css{
	background-color: #756b88; 
	width: 75%;
}

#js{
	background-color: #006e5c;
	width: 45%;
}

#nodejs{
	background-color: #ff5800;
	width: 45%;
}

#mongodb{
	background-color: #2857a4;
	width: 40%;
}

.mb75px{
	margin-bottom: 75px;
}

/*Portfolio*/

.image-container{
	padding: 0.5rem;
	margin: 1rem;
	width: 250px;
}

.image-container img{
	width: 100%;
}

.image-container:hover{
	background-color: lightgrey;
	border-radius: 1.5rem;
	box-shadow: 4px 4px 6px 4px rgba(194, 194, 194, 0.3);
}