footer {
  height: 59px;
  width: 100vw;
  background-color: gray;
  position: fixed;
  bottom: 0;
}

footer div {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 2px 8px 8px;
}

footer div div {
  font-size: large;
}

footer div div h6 {
  margin-top: 4px;
  margin-bottom: 0;
}

footer div div ul {
  padding-left: 14px;
  margin-bottom: 0;
  list-style: none;
}

footer div div ul li {
  margin: 4px;
  display: inline;
}

footer div div a {
  color: white;
}
