#home-container #feed-posts {
  padding: 0 10px 10px 20px;
}

#home-container #user-friends {
  padding: 10px;
  border-left: 1px solid lightgray;
}

textarea {
  margin-bottom: -9px;
}

input[type='submit'] {
  padding-top: 2px;
}
