<header style="background-color: dodgerblue;">
    <div style="margin-left: 10px; color: white; font-weight: bold;">
        <h2>codeial</h2>
    </div>
</header>
<div style="margin-left: 10px;">
    <p>Hi, <%= comment.user.name %>!</p>
    <p>Your comment : <strong><%= comment.content %></strong> just got posted on codeial.</p>
    <br>
    <p>Thanks from codeial!</p>
</div>
<footer style="background-color: gray;">
    <div style="margin-left: 10px; color: white;">
        <h6 style="padding: 5px 0;">&copy; 2020 Shyam Jalan | All Rights Reserved</h6>
    </div>
</footer>