<div>
    <p>
        Hi <%= comment.user.name %>!
    </p>
    <br>
    <p>Your comment : <strong><%= comment.content %></strong> just got posted on codeial.</p>
    <br>
    <br>
    <p>Thanks from codeial!</p>
</div>