<footer>
    <div>
        <div>
            <h6>&copy; 2020 Shyam Jalan | All Rights Reserved</h6>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if(locals.user){ %>
                    <li>
                        <a href="/users/profile">Profile</a>
                    </li>
                <% } %> 
            </ul>
        </div>
    </div>
</footer>