<h1>Reset Password</h1>
<form action="/users/reset-password/?accessToken=<%= accessToken %>" method="post">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Reset Password">
</form>