<link rel="stylesheet" href="/css/users.css">
<h1>
    Codeial / Users / <%= title %>
</h1>
<h2>
    User Name : <%= user.name %>
    <br>
    Email Id : <%= user.email %>
</h2>
<form action="/users/delete-session" method="get">
    <button type="submit">Logout</button>
</form>