body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

#page-heading {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 25px;
  color: gray;
}

#contacts-list-container {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

#contacts-list-container ul {
  padding: 0;
  list-style-type: none;
}

.contact {
  display: flex;
  padding: 3px 10px;
  border: 1px solid white;
  background-color: cornflowerblue;
  box-shadow: 1px 1px 1px 1px lightgray;
  color: white;
}

.contact:hover {
  background-color: gray;
  cursor: pointer;
}

.contact .details {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.contact .details p {
  margin: 2px;
}

.contact .delete-btn {
  width: 10%;
  margin: 3px;
}

.contact .delete-btn a {
  color: red;
  background-color: white;
}

input {
  border: 0;
  border-bottom: 1px solid gray;
}

#add-btn {
  background-color: gray;
  border: 0;
  padding: 3px;
  color: white;
  width: 60px;
}

#add-btn:hover {
  cursor: pointer;
}
